@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  
}

input[type="file"] {
    display: none;
}
.custom-file-upload{
   
    display: inline-block;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
   background-color: rgb(68, 67, 67);
  color: rgb(67, 243, 190);
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}
.custom-file-upload:hover{
    
    display: inline-block;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
background-color: rgb(67, 243, 190);
 color:rgb(68, 67, 67);
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}

header {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
 
  
}

#logocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
  }
  
#buttoncontainer {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 30px;
}

#dashboard {
  padding: 14px 28px;
  border-radius: 5px;
   background-color: rgb(68, 67, 67);
  color: rgb(67, 243, 190);
  cursor: pointer;
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}

#dashboard:hover{
 padding: 14px 28px;
 background-color: rgb(67, 243, 190);
 color:rgb(68, 67, 67);
 cursor: pointer;
 border-radius: 5px;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
}
#test {
  padding: 14px 28px;
  border-radius: 5px;
  background-color: rgb(68, 67, 67);
  color: rgb(67, 243, 190);
  cursor: pointer;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;

 display: inline-block;
}

#test:hover{
 padding: 14px 28px;
 background-color: rgb(67, 243, 190);
 color:rgb(68, 67, 67);
 cursor: pointer;
 border-radius: 5px;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;

 display: inline-block;
    
}
#run {
   padding: 14px 28px;
  border-radius: 5px;
   background-color: rgb(68, 67, 67);
  color: rgb(67, 243, 190);
  cursor: pointer;
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}

#run:hover{
  padding: 14px 28px;
  background-color: rgb(67, 243, 190);
 color:rgb(68, 67, 67);
 cursor: pointer;
 border-radius: 5px;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
}
#fileadd {
 padding: 14px 28px;
  border-radius: 5px;
   background-color: rgb(68, 67, 67);
  color: rgb(67, 243, 190);
  cursor: pointer;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
}

#fileadd:hover{
padding: 14px 28px;
  background-color: rgb(67, 243, 190);
 color:rgb(68, 67, 67);
 cursor: pointer;
 border-radius: 5px;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
}

.iconify{
    font-size: 40px; 
  }
  main {
    display: flex;
    flex: 1;
    position: relative;
  }
  
  
  
#editor {
    flex: 1;
  }
iframe{
flex:1;
background-color: rgb(255, 255, 255);

}
#files{
padding-top: 10px;
width: 15%;
background-color: rgb(255, 255, 255);
text-align: center;
font-family: 'Josefin Sans', sans-serif;
font-size: 28 px; 

}
p{
  font-family: 'Josefin Sans', sans-serif;
}



